# Requirements for Scrapy
scrapy<3
ipython<9 # for scrapy shell
loguru<1 # to colorize logs when scrapy crawl for better visibility
scrapy-selenium # to scrap JS
fake-useragent
# Requirements for EDA
pandas<3 # for datasets
matplotlib<4 # for graphs
seaborn<1 # for graphs
# Requirements for ML
pycaret
catboost
# Requirements for FastAPI
fastapi<1
uvicorn<1